
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
   color: #66BFBF;
   font-size:4rem;
   line-height: 2;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  color: #4B0082;
  font-weight: normal;
}

h3{
  color: #0000FF;
  font-family: 'Montserrat', sans-serif;

}


.top-container{
  background-color:	#add8e6;
  padding: 0;
  margin: 10px;
  padding-top: 50px;
}

.middle-container{
  padding: 50px 0;
}

.bottom-container{
  padding: 30px 0 20px;
    background-color: #66bfbf;
}

.describe-myself{
  width: 50%;
  margin:25px auto 25px auto;
  text-align: left;
  line-height: 2;
}

.skill-row{
  width: 50%;
  margin:25px auto 25px auto;
  text-align: left;
  line-height: 2;
}

p{
    line-height: 2;
}

hr{
  border: dotted #c0c0c0 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

.skill-row2{
  width: 50%;
  padding-top: 20px;
  margin:25px auto 25px auto;
  text-align: left;
}

.img-float{
  float: left;
  margin-right: 30px;
}

.img-float2{
  float: right;
  margin-left: 30px;
}

.proj
{
  text-decoration: underline;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a{
  color: #4B0082;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.img-down{
  position:absolute;
  left: 300px;
}

.last_part{
  width: 100px auto;
  margin-top: 40px;
}

.img-top{
  position: relative;
  left: 200px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
